*\pom.properties

*/src/main/java/utility/SQLInfo.java
*/src/main/java/utility/SQLInfo.class


QMSClient/src/node_modules


src/main/webapp/QMSClient/*
!src/main/webapp/QMSClient/src/

src/main/webapp/QMSClient/node_modules
target/*




/target/
